name: learmond_flutter_example
description: Example app demonstrating the learmond_flutter meta package
publish_to: none
version: 0.0.1
environment:
  sdk: ">=2.12.0 <4.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter
  learmond_flutter:
    path: ..

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
